<!-- url(登录页面  by zhongty) -->
<html>
<title>OrderDEmo页面</title>
<head>
<meta charset="utf-8" />
<script src="/libs/jquery.min.js" type="text/javascript"></script>
<script src="/libs/wac.js" type="text/javascript"></script>
<script src="/libs/md5.js" type="text/javascript"></script>
<script src="/plugins/miniui/miniui.js" type="text/javascript"></script>
<link href="/plugins/miniui/themes/icons.css" rel="stylesheet" type="text/css" />
<link href="/css/common.css" rel="stylesheet" type="text/css" />
<link href="/css/apply.css" rel="stylesheet" type="text/css" />
<!-- css start -->
<style type="text/css">

.xMiddle{	
	display:flex;
    justify-content:center;
    align-items:center;
    }
    
.textXMiddle{
	clear:both;
	text-align:center;
	margin:auto;
}

#logonForm{

	

}

.inptstyle{
	margin: 5px ;

}


#err_msg{
text-align:center;
margin:0 auto;
display:block;
color:red;
font-size:20px

}



</style>
<!-- css end -->
<body>
	<!-- 页面内容 start -->
	<div class="login-main">
		<div class="title" style="display: inline-block;width:100%;">
			<div style="margin-bottom: 20px; margin-top: 50px;width:100%;margin-left:48%;margin-right:48%;">
				<img src="/img/icons/inked.png"/>
			</div>
		</div> 
		<!-- <div id="mask" class="mask" style="text-align: center; padding: 15%;display: none">
			<img alt="" src="/entrance/images/timg.gif">
		</div> -->
		<!--登录框-->
		<div class="login-box xMiddle" style="">
			<div id="slideBox" class="slideBox">
				<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
				<a class="prev" href="javascript:void(0)"></a> 
				<a class="next" href="javascript:void(0)"></a>
			</div>
		
			<div class="login-txtboxbg xMiddle">
				<div class="login-txtbox">
					<form id="logonForm" method="post">
						<div class="login-padd">
							<h2 class="textXMiddle">用户登录</h2>
							<!-- <input placeholder="请输入用户名"  class="inptstyle iconame"/> -->
							<div class="inptstyle posit" style="border:0px;">
								<input class="inptstyle" name="account" style="padding-left:40px;" id="account" placeholder="请输入用户名" maxlength="64" type="text"/> 
								<i class="iconame"></i>
							</div>
							<div class="inptstyle posit" style="border:0px;">
								<input id = "password" name="password" type="hidden" value = "" />
								<input id="password_" class="inptstyle" name="" style="padding-left:40px;" placeholder="请输入密码" type="password" size="21"/> 
								<i class="icopass"></i>
							</div>
							<div class="inptstyle posit" style="border:5px;">
							<center>
								<span id="err_msg" ></span>
								</center>
							</div>
							<div class="btnbox xMiddle">
								<span class="login-btn log" id="loginbtn" onclick="doLogin()">登 录</span>
								&nbsp;&nbsp;
								<span class="login-btn res" id="resetbtn" onclick="reset()">重 置</span>
								&nbsp;&nbsp;
								<span class="login-btn res" id="testBtn" onclick="test()">测试</span>
								&nbsp;&nbsp;
								<span class="login-btn res" id="registerBtn" onclick="register()">注册</span>
							</div>
							<div class="clear"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--登录框end-->
		<div class="footer">
			<div class="container">
				<div class="row">
				
				</div>
			</div>
		</div>
	</div>
	<!-- 页面内容 end -->

	<!-- js start -->
	<script type="text/javascript" src="/js/jsTools/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="/libs/jquery.cookie.js"></script>
	<script type="text/javascript">
		/** 
	     * http://localhost:8088/projectName
	     */  
	    function getRootPath(){  
	        //获取当前网址，如： http://localhost:8088/projectName/index.jsp  
	        var curWwwPath = window.document.location.href;  
	        //获取主机地址之后的目录，如： projectName/index.jsp  
	        var pathName = window.document.location.pathname;  
	        var pos = curWwwPath.indexOf(pathName);  
	        //获取主机地址，如： http://localhost:8088  
	        var localhostPath = curWwwPath.substring(0, pos);  
	        //获取带"/"的项目名，如：/projectName  
	        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/')+1);  
	        return(localhostPath + projectName);  
	    }

        /**
		 * 获取参数字符串
         * @returns {string}
         */
        function getParamertersStr(){
            //获取当前网址，如： http://localhost:8088/projectName/index.jsp?a=1
            var curWwwPath = window.document.location.href;
            //获取主机地址之后的目录，如： projectName/index.jsp?a=1
            var pathName = window.document.location.pathname;
            //获取？地址
            var pos = pathName.indexOf('?');
            //获取参数字符串
            var paramertersStr = curWwwPath.substring(pos);
            return(paramertersStr);
        }

        $(function() {
			document.onkeydown = checkKey;
			
		});
		
		function checkKey() {
			if(13 == window.event.keyCode){
				doLogin();
		  	}
		}
		
		function register(){



			location.href= getRootPath() + "/register" ;
		}
		
		function reset(){
			$("#logonForm")[0].reset();
		}
		
		function doMask(){
	        $("#mask").fadeTo(350,0.5);  
		}
		
		function unMask(){
			$("#mask").hide();
		}
		
		function jsonpcallback(e){
			console.log(e);
			location.href = e.returnurl;
			
		}
		
		function callback(e){
			console.log("callback");
			console.log(e);
		}
		
		function test(){
			var form = $("#logonForm");
			$.ajax({
				type:"get",
				dataType:"jsonp",/*-----------------------*/
				crossDomain:true,
	            url:"${base}/demo/testJsonP?callbackurl=[[${callbackurl}]]",
	            timeout:0,
	            jsonp:'hello',
	            jsonpCallback: 'hello',
	            data:form.serialize(),
	            contentType: "application/x-www-form-urlencoded",
	            beforeSend:function(){
	            	doMask();
	            },
	            //成功返回之后调用的函数            
	            success:function(data){
	            	
	            	console.log(data);
	            	if(data.code=='01'){
	            	
	            		//window.location="${base}/sysbusiness/logon/main?module=&title=";
	            	}else{
	            		$("#password_").val("");
	            		$('err_msg').text(data.msg);
	            	
	            	}
	            },
	            complete: function(XMLHttpRequest, textStatus){
	            	console.log(XMLHttpRequest);
	            },
	            //调用出错执行的函数
	            error: function(e){
	            	console.log(e);
	            }        
	         });
		}
		
		
		function formatURL(url){
                if(url.indexOf('?')!=-1){
				
				return url
			}else{
				return url+'?&';
			}
		}
		
		
		function doLogin(){
			var form = $("#logonForm");
			var password = $("#password_").val();
			tempstr = hex_md5(password);
			console.log(tempstr);
			$("#password").val(tempstr);
			console.log(form.serialize());
	//		form.submit();
			$.ajax({
				type:"get",
				url:"/sso/doLogin",
	            data:form.serialize(),
	            contentType: "application/x-www-form-urlencoded",
	            beforeSend:function(){
	            	doMask();
	            },
	            //成功返回之后调用的函数            
				success:function(data){
	            	
	            	console.log(data);
	            	if(data.code=='01'){
	            		
	            		tempurl =  formatURL(getURLPramater('redirectUrl'))+"&token="+data.token;;
	            		console.log(tempurl);
	            	
	            		location.href= tempurl;
	            	}else{
	            		$("#password_").val("");
	            		$('#err_msg').text(data.msg);
	            	
	            	}
	            },
	            complete: function(XMLHttpRequest, textStatus){
	            	console.log("complete");
	          //  	alert(XMLHttpRequest.responseText);
	            },
	            //调用出错执行的函数
	            error: function(e){
	            	console.log("error");
	            	console.log(e);
	            }        
	         }); 
		}
		
		function testJSONP(){
			var form = $("#logonForm");
			var password = $("#password_").val();
			tempstr = hex_md5(password);
			console.log(tempstr);
			$("#password").val(tempstr);
			console.log(form.serialize());
	//		form.submit();
			$.ajax({
				type:"get",
				dataType:"jsonp",/*-----------------------*/
				crossDomain:true,
				url:"/demo/testJsonP?callbackurl=[[${callbackurl}]]",
	            timeout:0,
	            jsonp:'callback',
	            jsonpCallback: 'jsonpcallback',
	            data:form.serialize(),
	            contentType: "application/x-www-form-urlencoded",
	            beforeSend:function(){
	            	doMask();
	            },
	            //成功返回之后调用的函数            
	            success:function(data){
	            	unMask();
	            	console.log("success");
	            	console.log(data);
	            	
	            	if(data.success){
	            		
	            		//window.location="${base}/sysbusiness/logon/main?module=&title=";
	            	}else{
	            		$("#password_").val("");
	            		alert(data.message);
	            	}
	            },
	            complete: function(XMLHttpRequest, textStatus){
	            	console.log("complete");
	
	            	alert(XMLHttpRequest.responseText);
	            },
	            //调用出错执行的函数
	            error: function(e){
	            	console.log("error");
	            	console.log(e);
	            }        
	         }); 
		}
	</script>
	<!-- js end -->
</body>
</html>