html,body{  background:none;  }
table.tableForm{ border-collapse: collapse; width:100%; height:100%; overflow:hidden;  margin:0; padding:0; }
table.tableForm  td ,table.tableForm  th {  border:1px solid #cccccc;  height:26px; line-height:26px; padding-left:4px; }

.d_field { border-collapse: collapse;  width:100%; overflow:hidden;  margin:0; padding:0; border:0;}
.d_field  td ,.d_field th {  border:1px solid #cccccc;  height:26px; line-height:26px; padding-left:4px; }
.d_field .Dcaption2 { background: url( caption_bg.gif)  no-repeat  ; text-align: right;   padding-left:0px; }
 
#view_record { border-collapse: collapse;  width:100%; overflow:hidden;  margin:0; padding:0; border:0;}
#view_record  td{  border:1px solid #cccccc;  height:26px; line-height:26px; padding-left:4px; }
#view_record #fieldNameZh { background: url( caption_bg.gif)  no-repeat  ; text-align: right;   padding-left:0px; }
#view_record #fieldValue { background: url( caption_bg.gif)  no-repeat  ;  }


#attachmentList{border-collapse: collapse;  width:100%; overflow:hidden;  margin:0; padding:0; border:0; 	}
#attachmentList td{	border:0px solid blue;	height: 25px;	text-align: center;	vertical-align: middle; border:1px solid #cccccc;  	}
#attachmentList th{background: url( caption_bg.gif)  no-repeat  ;   border:1px solid #cccccc;  	}
#attachmentList  #seq{	background: url( caption_bg.gif)  no-repeat  ;   font-weight: bold;	}
 
:root table.tableForm { overflow:auto \9;}
@media screen and (-webkit-min-device-pixel-ratio:0){ table.tableForm{border:2px solid #cccccc; }}
.formMark{  color: #F00; width:5px; display:block; height:24px; line-height:32px; text-align:center; float:right;  overflow:hidden; position:relative; left:-3px; }


.touming {  z-index:11;  position:relative;  left:-160px;  padding:5px 40px  ;  cursor:default;   }
table.tableForm #show_maxchar {  height:16px; line-height:16px;  color: #9B9B9B;  margin-top:-3px;}
.caption  { background: url( caption_bg.gif)  no-repeat  ; text-align: right;   padding-left:0px; }
.inputTdRead{ background: url( caption_bg.gif)  no-repeat  ;   padding-left:4px; }

/*����֤*/
.form_tips{ display:none; }
.formTips{ position:absolute; z-index:99; font-size:12px; color:#000000; padding:0px 8px; overflow:hidden; border:1px solid #FF6347; background:#FFB5C5;line-height:18px;text-align:center; }
.input_validation-failed{ background:#FF7256; color:#000000; }
p#vtip {position: absolute; padding: 10px; left: 0px; top:0px; font-size: 12px; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999;}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px; background:url(../images/vtip_arrow.png) no-repeat; width:21px; height:11px; }


.inputTd textarea{ margin-top:4px;  }
:focus { outline: none; outline-style: none; }
::-moz-focus-inner { border: 0;}
form { margin: .4em .2em; }
textarea, input[type="text"], input[type="password"] { width: 150px; }
textarea { padding: .2em .4em; margin-bottom:4px; resize: none;}
input[type="text"],  input[type="password"] { line-height: 1em; height: 1em; padding: .3em; }
textarea {width: 150px;  height: 40px; overflow: auto;   font:12px/15px Helvetica, Tahoma, Arial, sans-serif; }
input[type="text"], input[type="password"], textarea { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
/* IE9 Disable border-radius */
.button, textarea, input[type="text"], input[type="password"] { border-radius: 0\9; }
textarea, input[type="text"], input[type="password"] { border: 1px solid #dcdcdc; }

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, 
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, 
input:focus+span { box-shadow: 0 0 3px #207ce5; -webkit-box-shadow: 0 0 3px #207ce5;
-moz-box-shadow: 0 0 3px #207ce5; border: 1px solid #63B8FF; }

input.pagination-num ,.pagination-num {width:28px;}
 

/* @charset "utf-8";

.inputOff{ background:url(../images/inputBG.gif) repeat-x top; border:#dcdcdc solid 1px; }
.inputOn{background:#F8F8FF; border:1px solid #63B8FF; }
.inputOff , .inputOn {width:175px; height:18px; line-height:18px;  padding-left:4px;  }




CSS Document
body { font:12px/15px Helvetica, Tahoma, Arial, sans-serif; }   


.formContain{ padding: 5px; }



th =caption 
table.tableForm th{ background:#eeeeee; height:100%; border-left:1px solid #ffffff; border-top:1px solid #ffffff; margin:0px; padding:0px 0px 0px 5px; height:25px;text-align:right; line-height:25px; font-size:12px; white-space:nowrap; overflow:hidden; font-weight:normal;  }
.captionleft{ background:#eeeeee; height:100%; border-left:1px solid #ffffff; border-top:1px solid #ffffff; margin:0px; padding:0px 0px 0px 5px; height:25px;text-align:left; line-height:25px; font-size:12px; white-space:nowrap; overflow:hidden; }

th =caption 

.inputTd{ padding:2px 5px 2px; _padding:0px 5px 2px; text-align:left; height:23px; _height:25px; line-height:18px; _line-height:25px; vertical-align:middle; white-space:nowrap;}

.inputTdRead{background:#eeeeee;  border-left:1px solid #ffffff; border-top:1px solid #ffffff; margin:0px 0px 0px; padding:2px 5px 0px; text-align:left; height:23px; line-height:18px; white-space:nowrap;}

.inputOff{min-width:150px;  background:url(../images/inputBG.gif) repeat-x top; text-indent:3px; *margin-left:-3px; width:99.1%; width:175px; border-top:#8A8A8A solid 1px; border-left:#8A8A8A solid 1px; border-right:#dcdcdc solid 1px; border-bottom:#dcdcdc solid 1px;padding: 0px; font-size:12px; height:17px; line-height:17px; _height:18px; _line-height:18px;}
�ı���ʧȥ���� 
.inputOn{min-width:150px; background:#F8F8FF; border:1px solid #63B8FF; width:175px; font-size:12px; height:17px; line-height:17px; _height:18px; _line-height:18px;}
�ı���õ����� 


wj_���� 
.inputOff { padding-left:3px;text-indent:0px; _margin-left:0px;}
.inputOn{ padding-left:3px;text-indent:0px;  _margin-left:0px;}


wj_���� 


 */